/* Reset do Browser(navegador) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
    background-color: #89DB6B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header - Menu */
.menu {
    background-color: #20471C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    height: 100px;
    width: 200px;
}

.menu a img {
    height: 100px;
    width: 250px;
}


.menu nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    padding: 20px;
}

/* Fixar o menu no topo */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* O header ocupa 100% da largura da tela  */
    z-index: 100;
    /* Coloca o header acima de outos elementos */
}

.menu nav a:hover {
    color: #89DB6B;
}

/* Config da seção INICIO */
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

#inicio .paragrafo {
    line-height: 150%;
    margin-bottom: 64px;
}



.botao {
    border-radius: 8px;
    background-color: #497539;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    z-index: -1
}

/* Config da seção CLINICA */
#clinica {
    display: flex;
    align-items: center;
    gap: 72px;
    padding: 80px 80px 24px 90px;
    position: relative;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

#clinica .parag {
    line-height: 150%;
}

#clinica ul li {
    line-height: 200%;
    margin-left: 40px;
}

#clinica .botao {
    border-radius: 8px;
    background-color: #497539;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 24px;
    /* Reduzido para deixar mais próximo da lista */
    display: inline-block;
    /* Garante que padding/margin funcionem corretamente */
}


/* Config farmacia */
#farmacia {
    text-align: center;
}

/* h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-bottom: 80px;
} */

#farmacia .para {
    text-align: justify;
    padding-left: 500px;
    padding-right: 500px;
    line-height: 150%;
    text-justify: distribute;
    margin-top: 80px;
}

/* Config Duvidas */
/* Seções - Dúvidas ( Conteúdos ) */
#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 80px 80px;
}

.duvida {
    position: relative;
    padding: 30px;
}

.duvida h3 {
    border: 2px solid #497539;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
    margin-bottom: -50px;
    /* distancia */
}

.duvida img {
    position: absolute;
    top: 40px;
    right: 40px;
}

.duvida .paragrafo {
    border-right: 1px solid #497539;
    border-bottom: 1px solid #497539;
    border-left: 1px solid #497539;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    /* Eventos JS... */
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    opacity: 1;
    height: fit-content;
    overflow: 24px;
    padding: 60px 24px 10px 24px;
}


/* Começo do footer */
footer {
    background-color: #A5F990;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}

footer .links-rapidos nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-weight: 200;
}

footer .links-rapidos nav p {
    margin: 20px;
}

footer .encontre-nos nav p {
    margin: 20px;
    color: #ffffff;
}

footer .links-rapidos nav p {
    color: #ffffff;
    font-weight: bold;
}

footer .img-esc p {
    text-decoration: none;
    margin-top: 20px;
    color: #ffffff;
    height: 200px;
    width: 200px;
}

.img-esc a img{
    margin-top: 20px;
    height: 30px;
    width: 100px;
}

footer .encontre-nos .cor-footer {
    color: #468E3F
}

footer .titulo-link {
    color: #ffffff;
    font-weight: 600;
    margin-left: 40px;
}

footer .titulo-encontre {
    font-weight: 600;
    margin-top: -45px;
    margin-left: 20px;
    color: #ffffff;
}

.fita {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #20471C;
}

.fita a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
